[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nba-api = "*"
boto3 = "*"
autopep8 = "*"
pandas = "*"
sqlalchemy-aurora-data-api = "*"
awswrangler = "*"
python-dotenv = "*"
pytest = "*"
mysql-connector-python = "*"
sportsreference = "*"

[requires]
python_version = "3.8"
